<div id="exTab1">
    <ul class="nav nav-pills" style="margin-bottom: 20px;">
        <li class="active">
            <a href="#requests" data-toggle="tab">درخواست های ارائه شده</a>
        </li>
        <li><a href="#myReuqsts" data-toggle="tab">درخواست های من</a>
        </li>
    </ul>

    <div class="tab-content clearfix">
        <div class="tab-pane active" id="requests">
            <app-request-list [requests]="requests"></app-request-list>
        </div>
        <div class="tab-pane" id="myReuqsts">
            <app-request-list [requests]="myRequests"></app-request-list>
        </div>
    </div>
</div>