#AccountModal .modal-body-pad-200 {
	padding-top: 200px !important;
}

#AccountModal {
	/*padding-top: 200px;*/
	margin-right: 0.1cm;
	margin-left: 0.1cm;
	font-family: IRANSans;
}

#AccountModal .modal .modal-header {
	background-color: #555 !important;
}

#AccountModal .modal .modal-footer {
	background-color: #555 !important;
}

#AccountModal .modal .modal-header .close {
	color: red !important;
	opacity: 1 !important;
}

#AccountModal .modal .modal-header {
	background-color: #555 !important;
}

#AccountModal .modal .modal-footer {
	background-color: #555 !important;
}

#AccountModal .field-icon {
	float: left;
	top: -26px;
	left: 10px;
	font-size: 20px;
	position: relative;
	z-index: 2;
	color: gray;
	height: 0px;
}

#AccountModal .account-page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	direction: rtl;
	max-width: 460px;
	margin: auto;
	padding: 0 20px;
}

#AccountModal .account-page a {
	font: 25px;
	cursor: pointer !important;
}

#AccountModal .external-auth-button {
	justify-content: space-between;
	background-color: whitesmoke;
	border: 1px solid gray;
	border-radius: 5px;
	width: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: gray;
	padding: 7px;
	padding-bottom: 10px;
	display: flex;
}

#AccountModal .external-auth-button:hover {
	background-color: lightgray;
}

#AccountModal .external-auth-button:focus {
	outline: none;
}

#AccountModal .external-auth-button .logo {
	height: 20px;
	margin-left: 5px;
	align-self: center;
}

#AccountModal .external-auth-button .text {
	font-size: 14px;
}

#AccountModal #loginform {
	padding: 5px;
}

#AccountModal .select-register-box {
	margin-top: 61px;
	font-size: 18px;
}

#AccountModal .select-register-box a {
	border: 1px solid #EC407A;
	padding: 6px 32px;
	margin: -5px;
}

#AccountModal .select-register-box a:first-child {
	border-top-right-radius: 20px;
	background: #EC407A;
	color: #fff;
	border-bottom-right-radius: 20px;
}

#AccountModal .select-register-box a:last-child {
	border-top-left-radius: 20px;
	color: #EC407A;
	border-bottom-left-radius: 20px;
	margin: 0;
}

#AccountModal .account-page .refresh-captcha {
	font-size: 30px;
	color: #EC407A;
	position: relative;
	top: 15px !important;
	cursor: pointer;
	right: 5px;
}

#AccountModal .account-page input[type=text] {
	/*font-family: sans-serif, tahoma !important;*/
	direction: ltr;
	text-align: right;
	font-size: 16px;
	padding: 1px 12px 6px 12px;
}

#AccountModal .account-page input[type=text]::-webkit-input-placeholder {
	/* Edge */
	font-size: 14px;
	font-family: IRANSans !important;
}

#AccountModal .account-page input[type=text]:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	font-size: 14px;
	font-family: IRANSans !important;
}

#AccountModal .account-page input[type=text]::placeholder {
	font-size: 14px;
	font-family: IRANSans !important;
}

#AccountModal .account-page input[type=submit] {
	text-align: center;
	padding: 8px 12px;
	border-radius: 25px;
	border: 1px solid dodgerblue;
	color: white;
	background-color: dodgerblue;
}

#AccountModal .account-page input[type=submit]:hover {
	color: #fcdd86;
}

#AccountModal .account-page .control-label {
	font-size: 14px;
	font-family: IRANSans !important;
}

#AccountModal .form-title {
	font-size: 23px;
	font-weight: bold;
	color: #1e90ff;
	top: 10px;
	position: relative;
}

#AccountModal .captcha-image {
	text-align: right;
}

#AccountModal .alert-danger {
	direction: rtl;
}

.signin-btn {
	cursor: pointer;
	background-color: white;
	padding: 5px;
	border-radius: 4px 5px;
}

/*---------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------*/

/*#AccountModal html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: IRANSans sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

#AccountModal body {
	margin: 0;
	font-size: 16px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}*/

#AccountModal a {
	background-color: transparent;
}

#AccountModal a:active, #AccountModal a:hover {
	outline: 0;
}

#AccountModal abbr[title] {
	border-bottom: 1px dotted;
}

#AccountModal b, #AccountModal strong {
	font-weight: bold;
}

#AccountModal img {
	border: 0;
}

#AccountModal svg:not(:root) {
	overflow: hidden;
}

#AccountModal hr {
	height: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

#AccountModal button, #AccountModal input, #AccountModal optgroup, #AccountModal select, #AccountModal textarea {
	margin: 0;
	font: inherit;
	color: inherit;
}

#AccountModal button {
	overflow: visible;
}

#AccountModal button, #AccountModal select {
	text-transform: none;
}

#AccountModal button, #AccountModal html input[type="button"], #AccountModal input[type="reset"], #AccountModal input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

#AccountModal button[disabled], #AccountModal html input[disabled] {
	cursor: default;
}

#AccountModal button::-moz-focus-inner, #AccountModal input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

#AccountModal input {
	line-height: normal;
}

#AccountModal input[type="checkbox"], #AccountModal input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

#AccountModal input[type="number"]::-webkit-inner-spin-button, #AccountModal input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

#AccountModal optgroup {
	font-weight: bold;
}

#AccountModal * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#AccountModal *:before, #AccountModal *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#AccountModal input, #AccountModal button, #AccountModal select, #AccountModal textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

#AccountModal a {
	color: #337ab7;
	text-decoration: none;
}

#AccountModal a:hover, #AccountModal a:focus {
	color: #23527c;
	text-decoration: underline;
}

#AccountModal a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

#AccountModal img {
	vertical-align: middle;
}

#AccountModal .img-responsive, #AccountModal .thumbnail>img, #AccountModal .thumbnail a>img, #AccountModal .carousel-inner>.item>img, #AccountModal .carousel-inner>.item>a>img {
	display: block;
	max-width: 100%;
	height: auto;
}

#AccountModal [role="button"] {
	cursor: pointer;
}

#AccountModal .text-danger {
	color: #a94442;
}

#AccountModal a.text-danger:hover, a.text-danger:focus {
	color: #843534;
}

#AccountModal .text-center {
	text-align: center;
}

#AccountModal .text-left {
	text-align: left;
}

#AccountModal .text-right {
	text-align: right;
}

#AccountModal abbr[title], #AccountModal abbr[data-original-title] {
	cursor: help;
	border-bottom: 1px dotted #777;
}

#AccountModal .pre-scrollable {
	max-height: 340px;
	overflow-y: scroll;
}

#AccountModal .row {
	margin-right: -15px;
	margin-left: -15px;
}

#AccountModal .col-xs-1, #AccountModal .col-sm-1, #AccountModal .col-xs-2, #AccountModal .col-sm-2, #AccountModal .col-xs-3, #AccountModal .col-sm-3, #AccountModal, .col-xs-4, #AccountModal .col-sm-4, #AccountModal .col-xs-5, #AccountModal .col-sm-5, #AccountModal .col-xs-6, #AccountModal .col-sm-6, #AccountModal .col-xs-7, #AccountModal .col-sm-7, #AccountModal .col-xs-8, #AccountModal .col-sm-8, #AccountModal .col-xs-9, #AccountModal .col-sm-9, #AccountModal .col-xs-10, #AccountModal .col-sm-10, #AccountModal .col-xs-11, #AccountModal .col-sm-11, #AccountModal .col-xs-12, #AccountModal .col-sm-12 {
	/*position: relative;*/
	/*استایل را خراب می کند*/
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

#AccountModal .col-xs-1, #AccountModal .col-xs-2, #AccountModal .col-xs-3, #AccountModal .col-xs-4, #AccountModal .col-xs-5, #AccountModal .col-xs-6, #AccountModal .col-xs-7, #AccountModal .col-xs-8, #AccountModal .col-xs-9, #AccountModal .col-xs-10, #AccountModal .col-xs-11, #AccountModal .col-xs-12 {
	float: right;
}

#AccountModal .col-xs-12 {
	width: 100%;
}

#AccountModal .col-xs-11 {
	width: 91.66666667%;
}

#AccountModal .col-xs-10 {
	width: 83.33333333%;
}

#AccountModal .col-xs-9 {
	width: 75%;
}

#AccountModal .col-xs-8 {
	width: 66.66666667%;
}

#AccountModal .col-xs-7 {
	width: 58.33333333%;
}

#AccountModal .col-xs-6 {
	width: 50%;
}

#AccountModal .col-xs-5 {
	width: 41.66666667%;
}

#AccountModal .col-xs-4 {
	width: 33.33333333%;
}

#AccountModal .col-xs-3 {
	width: 25%;
}

#AccountModal .col-xs-2 {
	width: 16.66666667%;
}

#AccountModal .col-xs-1 {
	width: 8.33333333%;
}

#AccountModal .col-xs-pull-12 {
	left: 100%;
}

#AccountModal .col-xs-pull-11 {
	left: 91.66666667%;
}

#AccountModal .col-xs-pull-10 {
	left: 83.33333333%;
}

#AccountModal .col-xs-pull-9 {
	left: 75%;
}

#AccountModal .col-xs-pull-8 {
	left: 66.66666667%;
}

#AccountModal .col-xs-pull-7 {
	left: 58.33333333%;
}

#AccountModal .col-xs-pull-6 {
	left: 50%;
}

#AccountModal .col-xs-pull-5 {
	left: 41.66666667%;
}

#AccountModal .col-xs-pull-4 {
	left: 33.33333333%;
}

#AccountModal .col-xs-pull-3 {
	left: 25%;
}

#AccountModal .col-xs-pull-2 {
	left: 16.66666667%;
}

#AccountModal .col-xs-pull-1 {
	left: 8.33333333%;
}

#AccountModal .col-xs-pull-0 {
	left: 0;
}

#AccountModal .col-xs-push-12 {
	right: 100%;
}

#AccountModal .col-xs-push-11 {
	right: 91.66666667%;
}

#AccountModal .col-xs-push-10 {
	right: 83.33333333%;
}

#AccountModal .col-xs-push-9 {
	right: 75%;
}

#AccountModal .col-xs-push-8 {
	right: 66.66666667%;
}

#AccountModal .col-xs-push-7 {
	right: 58.33333333%;
}

#AccountModal .col-xs-push-6 {
	right: 50%;
}

#AccountModal .col-xs-push-5 {
	right: 41.66666667%;
}

#AccountModal .col-xs-push-4 {
	right: 33.33333333%;
}

#AccountModal .col-xs-push-3 {
	right: 25%;
}

#AccountModal .col-xs-push-2 {
	right: 16.66666667%;
}

#AccountModal .col-xs-push-1 {
	right: 8.33333333%;
}

#AccountModal .col-xs-push-0 {
	right: auto;
}

#AccountModal .col-xs-offset-12 {
	margin-right: 100%;
}

#AccountModal .col-xs-offset-11 {
	margin-right: 91.66666667%;
}

#AccountModal .col-xs-offset-10 {
	margin-right: 83.33333333%;
}

#AccountModal .col-xs-offset-9 {
	margin-right: 75%;
}

#AccountModal .col-xs-offset-8 {
	margin-right: 66.66666667%;
}

#AccountModal .col-xs-offset-7 {
	margin-right: 58.33333333%;
}

#AccountModal .col-xs-offset-6 {
	margin-right: 50%;
}

#AccountModal .col-xs-offset-5 {
	margin-right: 41.66666667%;
}

#AccountModal .col-xs-offset-4 {
	margin-right: 33.33333333%;
}

#AccountModal .col-xs-offset-3 {
	margin-right: 25%;
}

#AccountModal .col-xs-offset-2 {
	margin-right: 16.66666667%;
}

#AccountModal .col-xs-offset-1 {
	margin-right: 8.33333333%;
}

#AccountModal .col-xs-offset-0 {
	margin-right: 0;
}

@media (min-width: 768px) {
	#AccountModal .col-sm-1, #AccountModal .col-sm-2, #AccountModal .col-sm-3, #AccountModal .col-sm-4, #AccountModal .col-sm-5, #AccountModal .col-sm-6, #AccountModal .col-sm-7, #AccountModal .col-sm-8, #AccountModal .col-sm-9, #AccountModal .col-sm-10, #AccountModal .col-sm-11, #AccountModal .col-sm-12 {
		float: right;
	}
	#AccountModal .col-sm-12 {
		width: 100%;
	}
	#AccountModal .col-sm-11 {
		width: 91.66666667%;
	}
	#AccountModal .col-sm-10 {
		width: 83.33333333%;
	}
	#AccountModal .col-sm-9 {
		width: 75%;
	}
	#AccountModal .col-sm-8 {
		width: 66.66666667%;
	}
	#AccountModal .col-sm-7 {
		width: 58.33333333%;
	}
	#AccountModal .col-sm-6 {
		width: 50%;
	}
	#AccountModal .col-sm-5 {
		width: 41.66666667%;
	}
	#AccountModal .col-sm-4 {
		width: 33.33333333%;
	}
	#AccountModal .col-sm-3 {
		width: 25%;
	}
	#AccountModal .col-sm-2 {
		width: 16.66666667%;
	}
	#AccountModal .col-sm-1 {
		width: 8.33333333%;
	}
	#AccountModal .col-sm-pull-12 {
		left: 100%;
	}
	#AccountModal .col-sm-pull-11 {
		left: 91.66666667%;
	}
	#AccountModal .col-sm-pull-10 {
		left: 83.33333333%;
	}
	#AccountModal .col-sm-pull-9 {
		left: 75%;
	}
	#AccountModal .col-sm-pull-8 {
		left: 66.66666667%;
	}
	#AccountModal .col-sm-pull-7 {
		left: 58.33333333%;
	}
	#AccountModal .col-sm-pull-6 {
		left: 50%;
	}
	#AccountModal .col-sm-pull-5 {
		left: 41.66666667%;
	}
	#AccountModal .col-sm-pull-4 {
		left: 33.33333333%;
	}
	#AccountModal .col-sm-pull-3 {
		left: 25%;
	}
	#AccountModal .col-sm-pull-2 {
		left: 16.66666667%;
	}
	#AccountModal .col-sm-pull-1 {
		left: 8.33333333%;
	}
	#AccountModal .col-sm-pull-0 {
		left: auto;
	}
	#AccountModal .col-sm-push-12 {
		right: 100%;
	}
	#AccountModal .col-sm-push-11 {
		right: 91.66666667%;
	}
	#AccountModal .col-sm-push-10 {
		right: 83.33333333%;
	}
	#AccountModal .col-sm-push-9 {
		right: 75%;
	}
	#AccountModal .col-sm-push-8 {
		right: 66.66666667%;
	}
	#AccountModal .col-sm-push-7 {
		right: 58.33333333%;
	}
	#AccountModal .col-sm-push-6 {
		right: 50%;
	}
	#AccountModal .col-sm-push-5 {
		right: 41.66666667%;
	}
	#AccountModal .col-sm-push-4 {
		right: 33.33333333%;
	}
	#AccountModal .col-sm-push-3 {
		right: 25%;
	}
	#AccountModal .col-sm-push-2 {
		right: 16.66666667%;
	}
	#AccountModal .col-sm-push-1 {
		right: 8.33333333%;
	}
	#AccountModal .col-sm-push-0 {
		right: auto;
	}
	#AccountModal .col-sm-offset-12 {
		margin-right: 100%;
	}
	#AccountModal .col-sm-offset-11 {
		margin-right: 91.66666667%;
	}
	#AccountModal .col-sm-offset-10 {
		margin-right: 83.33333333%;
	}
	#AccountModal .col-sm-offset-9 {
		margin-right: 75%;
	}
	#AccountModal .col-sm-offset-8 {
		margin-right: 66.66666667%;
	}
	#AccountModal .col-sm-offset-7 {
		margin-right: 58.33333333%;
	}
	#AccountModal .col-sm-offset-6 {
		margin-right: 50%;
	}
	#AccountModal .col-sm-offset-5 {
		margin-right: 41.66666667%;
	}
	#AccountModal .col-sm-offset-4 {
		margin-right: 33.33333333%;
	}
	#AccountModal .col-sm-offset-3 {
		margin-right: 25%;
	}
	#AccountModal .col-sm-offset-2 {
		margin-right: 16.66666667%;
	}
	#AccountModal .col-sm-offset-1 {
		margin-right: 8.33333333%;
	}
	#AccountModal .col-sm-offset-0 {
		margin-right: 0;
	}
}

#AccountModal label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
}

#AccountModal .form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#AccountModal .form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

#AccountModal .form-control::-moz-placeholder {
	color: #999;
	opacity: 1;
}

#AccountModal .form-control:-ms-input-placeholder {
	color: #999;
}

#AccountModal .form-control::-webkit-input-placeholder {
	color: #999;
}

#AccountModal .form-control::-ms-expand {
	background-color: transparent;
	border: 0;
}

#AccountModal .form-control[disabled], #AccountModal .form-control[readonly], #AccountModal fieldset[disabled] .form-control {
	background-color: #eee;
	opacity: 1;
}

#AccountModal .form-control[disabled], #AccountModal fieldset[disabled] .form-control {
	cursor: not-allowed;
}

#AccountModal .form-group {
	margin-bottom: 15px;
}

#AccountModal .input-sm {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

#AccountModal select.input-sm {
	height: 30px;
	line-height: 30px;
}

#AccountModal .form-group-sm .form-control {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

#AccountModal .form-group-sm select.form-control {
	height: 30px;
	line-height: 30px;
}

#AccountModal .form-group-sm textarea.form-control, #AccountModal .form-group-sm select[multiple].form-control {
	height: auto;
}

#AccountModal .form-group-sm .form-control-static {
	height: 30px;
	min-height: 32px;
	padding: 6px 10px;
	font-size: 12px;
	line-height: 1.5;
}

#AccountModal .has-feedback .form-control {
	padding-left: 42.5px;
}

#AccountModal .form-control-feedback {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	pointer-events: none;
}

#AccountModal .input-sm+.form-control-feedback, #AccountModal .input-group-sm+.form-control-feedback, #AccountModal .form-group-sm .form-control+.form-control-feedback {
	width: 30px;
	height: 30px;
	line-height: 30px;
}

#AccountModal .has-success .help-block, #AccountModal .has-success .control-label, #AccountModal .has-success .radio, #AccountModal .has-success .checkbox, #AccountModal .has-success .radio-inline, #AccountModal .has-success .checkbox-inline, #AccountModal .has-success.radio label, #AccountModal .has-success.checkbox label, #AccountModal .has-success.radio-inline label, #AccountModal .has-success.checkbox-inline label {
	color: #3c763d;
}

#AccountModal .has-success .form-control {
	border-color: #3c763d;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

#AccountModal .has-success .form-control:focus {
	border-color: #2b542c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}

#AccountModal .has-success .input-group-addon {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #3c763d;
}

#AccountModal .has-success .form-control-feedback {
	color: #3c763d;
}

#AccountModal .has-warning .help-block, #AccountModal .has-warning .control-label, #AccountModal .has-warning .radio, #AccountModal .has-warning .checkbox, #AccountModal .has-warning .radio-inline, #AccountModal .has-warning .checkbox-inline, #AccountModal .has-warning.radio label, #AccountModal .has-warning.checkbox label, #AccountModal .has-warning.radio-inline label, #AccountModal .has-warning.checkbox-inline label {
	color: #8a6d3b;
}

#AccountModal .has-warning .form-control {
	border-color: #8a6d3b;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-warning .form-control:focus {
	border-color: #66512c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
}

#AccountModal .has-warning .input-group-addon {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #8a6d3b;
}

#AccountModal .has-warning .form-control-feedback {
	color: #8a6d3b;
}

#AccountModal .has-error .help-block, #AccountModal .has-error .control-label, #AccountModal .has-error .checkbox, #AccountModal .has-error .checkbox-inline, #AccountModal .has-error.checkbox label, #AccountModal .has-error.checkbox-inline label {
	color: #a94442;
}

#AccountModal .has-error .form-control {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

#AccountModal .has-error .form-control:focus {
	border-color: #843534;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

#AccountModal .has-error .input-group-addon {
	color: #a94442;
	background-color: #f2dede;
	border-color: #a94442;
}

#AccountModal .has-error .form-control-feedback {
	color: #a94442;
}

#AccountModal .has-feedback label~.form-control-feedback {
	top: 25px;
}

#AccountModal .has-feedback label.sr-only~.form-control-feedback {
	top: 0;
}

#AccountModal .help-block {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #737373;
}

#AccountModal .btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

#AccountModal .btn:focus, #AccountModal .btn:active:focus, #AccountModal .btn.active:focus, #AccountModal .btn.focus, #AccountModal .btn:active.focus, #AccountModal .btn.active.focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

#AccountModal .btn:hover, #AccountModal .btn:focus, #AccountModal .btn.focus {
	color: #333;
	text-decoration: none;
}

#AccountModal .btn:active, #AccountModal .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

#AccountModal .btn.disabled, #AccountModal .btn[disabled], #AccountModal fieldset[disabled] .btn {
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65;
}

#AccountModal a.btn.disabled, #AccountModal fieldset[disabled] a.btn {
	pointer-events: none;
}

#AccountModal .btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

#AccountModal .btn-default:focus, #AccountModal .btn-default.focus {
	color: #333;
	background-color: #e6e6e6;
	border-color: #8c8c8c;
}

#AccountModal .btn-default:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

#AccountModal .btn-default:active, #AccountModal .btn-default.active, #AccountModal .open>.dropdown-toggle.btn-default {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

#AccountModal .btn-default:active:hover, #AccountModal .btn-default.active:hover, #AccountModal .open>.dropdown-toggle.btn-default:hover, #AccountModal .btn-default:active:focus, #AccountModal .btn-default.active:focus, #AccountModal .open>.dropdown-toggle.btn-default:focus, #AccountModal .btn-default:active.focus, #AccountModal .btn-default.active.focus, #AccountModal .open>.dropdown-toggle.btn-default.focus {
	color: #333;
	background-color: #d4d4d4;
	border-color: #8c8c8c;
}

#AccountModal .btn-default:active, #AccountModal .btn-default.active, #AccountModal .open>.dropdown-toggle.btn-default {
	background-image: none;
}

#AccountModal .btn-default.disabled:hover, #AccountModal .btn-default[disabled]:hover, #AccountModal fieldset[disabled] .btn-default:hover, #AccountModal .btn-default.disabled:focus, #AccountModal .btn-default[disabled]:focus, #AccountModal fieldset[disabled] .btn-default:focus, #AccountModal .btn-default.disabled.focus, #AccountModal .btn-default[disabled].focus, #AccountModal fieldset[disabled] .btn-default.focus {
	background-color: #fff;
	border-color: #ccc;
}

#AccountModal .btn-default .badge {
	color: #fff;
	background-color: #333;
}

#AccountModal .btn-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

#AccountModal .btn-primary:focus, #AccountModal .btn-primary.focus {
	color: #fff;
	background-color: #286090;
	border-color: #122b40;
}

#AccountModal .btn-primary:hover {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}

#AccountModal .btn-primary:active, #AccountModal .btn-primary.active, #AccountModal .open>.dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}

#AccountModal .btn-primary:active:hover, #AccountModal .btn-primary.active:hover, #AccountModal .open>.dropdown-toggle.btn-primary:hover, #AccountModal .btn-primary:active:focus, #AccountModal .btn-primary.active:focus, #AccountModal .open>.dropdown-toggle.btn-primary:focus, #AccountModal .btn-primary:active.focus, #AccountModal .btn-primary.active.focus, #AccountModal .open>.dropdown-toggle.btn-primary.focus {
	color: #fff;
	background-color: #204d74;
	border-color: #122b40;
}

#AccountModal .btn-primary:active, #AccountModal .btn-primary.active, #AccountModal .open>.dropdown-toggle.btn-primary {
	background-image: none;
}

#AccountModal .btn-primary.disabled:hover, #AccountModal .btn-primary[disabled]:hover, #AccountModal fieldset[disabled] .btn-primary:hover, #AccountModal .btn-primary.disabled:focus, #AccountModal .btn-primary[disabled]:focus, #AccountModal fieldset[disabled] .btn-primary:focus, #AccountModal .btn-primary.disabled.focus, #AccountModal .btn-primary[disabled].focus, #AccountModal fieldset[disabled] .btn-primary.focus {
	background-color: #337ab7;
	border-color: #2e6da4;
}

#AccountModal .btn-primary .badge {
	color: #337ab7;
	background-color: #fff;
}

#AccountModal .btn-link {
	font-weight: normal;
	color: #337ab7;
	border-radius: 0;
}

#AccountModal .btn-link, #AccountModal .btn-link:active, #AccountModal .btn-link.active, #AccountModal .btn-link[disabled], #AccountModal fieldset[disabled] .btn-link {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#AccountModal .btn-link, #AccountModal .btn-link:hover, #AccountModal .btn-link:focus, #AccountModal .btn-link:active {
	border-color: transparent;
}

#AccountModal .btn-link:hover, #AccountModal .btn-link:focus {
	color: #23527c;
	text-decoration: underline;
	background-color: transparent;
}

#AccountModal .btn-link[disabled]:hover, #AccountModal fieldset[disabled] .btn-link:hover, #AccountModal .btn-link[disabled]:focus, #AccountModal fieldset[disabled] .btn-link:focus {
	color: #777;
	text-decoration: none;
}

#AccountModal .btn-sm, #AccountModal .btn-group-sm>.btn {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

#AccountModal .btn-xs, #AccountModal .btn-group-xs>.btn {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

#AccountModal .btn-block {
	display: block;
	width: 100%;
}

#AccountModal .btn-block+.btn-block {
	margin-top: 5px;
}

#AccountModal input[type="submit"].btn-block, #AccountModal input[type="reset"].btn-block, #AccountModal input[type="button"].btn-block {
	width: 100%;
}

#AccountModal .fade {
	opacity: 0;
	-webkit-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear;
}

#AccountModal .fade.in {
	opacity: 1;
}

#AccountModal .collapse {
	display: none;
}

#AccountModal .collapse.in {
	display: block;
}

#AccountModal .collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition-timing-function: ease;
	-o-transition-timing-function: ease;
	transition-timing-function: ease;
	-webkit-transition-duration: .35s;
	-o-transition-duration: .35s;
	transition-duration: .35s;
	-webkit-transition-property: height, visibility;
	-o-transition-property: height, visibility;
	transition-property: height, visibility;
}

#AccountModal .caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-right: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid \9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

#AccountModal .open>a {
	outline: 0;
}

#AccountModal [data-toggle="buttons"]>.btn input[type="radio"], #AccountModal [data-toggle="buttons"]>.btn-group>.btn input[type="radio"], #AccountModal [data-toggle="buttons"]>.btn input[type="checkbox"], #AccountModal [data-toggle="buttons"]>.btn-group>.btn input[type="checkbox"] {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	pointer-events: none;
}

#AccountModal .input-group {
	position: relative;
	display: table;
	border-collapse: separate;
}

#AccountModal .input-group[class*="col-"] {
	float: none;
	padding-right: 0;
	padding-left: 0;
}

#AccountModal .input-group .form-control {
	position: relative;
	z-index: 2;
	float: right;
	width: 100%;
	margin-bottom: 0;
}

#AccountModal .input-group .form-control:focus {
	z-index: 3;
}

#AccountModal .input-group-sm>.form-control, #AccountModal .input-group-sm>.input-group-addon, #AccountModal .input-group-sm>.input-group-btn>.btn {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

#AccountModal select.input-group-sm>.form-control, #AccountModal select.input-group-sm>.input-group-addon, #AccountModal select.input-group-sm>.input-group-btn>.btn {
	height: 30px;
	line-height: 30px;
}

#AccountModal textarea.input-group-sm>.form-control, #AccountModal textarea.input-group-sm>.input-group-addon, #AccountModal textarea.input-group-sm>.input-group-btn>.btn, #AccountModal select[multiple].input-group-sm>.form-control, #AccountModal select[multiple].input-group-sm>.input-group-addon, #AccountModal select[multiple].input-group-sm>.input-group-btn>.btn {
	height: auto;
}

#AccountModal .input-group-addon, #AccountModal .input-group-btn, #AccountModal .input-group .form-control {
	display: table-cell;
}

#AccountModal .input-group-addon:not(:first-child):not(:last-child), #AccountModal .input-group-btn:not(:first-child):not(:last-child), #AccountModal .input-group .form-control:not(:first-child):not(:last-child) {
	border-radius: 0;
}

#AccountModal .input-group-addon, #AccountModal .input-group-btn {
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
}

#AccountModal .input-group-addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#AccountModal .input-group-addon.input-sm {
	padding: 5px 10px;
	font-size: 12px;
	border-radius: 3px;
}

#AccountModal .input-group-addon.input-lg {
	padding: 10px 16px;
	font-size: 18px;
	border-radius: 6px;
}

#AccountModal .input-group-addon input[type="radio"], #AccountModal .input-group-addon input[type="checkbox"] {
	margin-top: 0;
}

#AccountModal .input-group .form-control:first-child, #AccountModal .input-group-addon:first-child, #AccountModal .input-group-btn:first-child>.btn, #AccountModal .input-group-btn:first-child>.btn-group>.btn, #AccountModal .input-group-btn:first-child>.dropdown-toggle, #AccountModal .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle), #AccountModal .input-group-btn:last-child>.btn-group:not(:last-child)>.btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#AccountModal .input-group-addon:first-child {
	border-left: 0;
}

#AccountModal .input-group .form-control:last-child, #AccountModal .input-group-addon:last-child, #AccountModal .input-group-btn:last-child>.btn, #AccountModal .input-group-btn:last-child>.btn-group>.btn, #AccountModal .input-group-btn:last-child>.dropdown-toggle, #AccountModal .input-group-btn:first-child>.btn:not(:first-child), #AccountModal .input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

#AccountModal .input-group-addon:last-child {
	border-right: 0;
}

#AccountModal .input-group-btn {
	position: relative;
	font-size: 0;
	white-space: nowrap;
}

#AccountModal .input-group-btn>.btn {
	position: relative;
}

#AccountModal .input-group-btn>.btn+.btn {
	margin-right: -1px;
}

#AccountModal .input-group-btn>.btn:hover, #AccountModal .input-group-btn>.btn:focus, #AccountModal .input-group-btn>.btn:active {
	z-index: 2;
}

#AccountModal .input-group-btn:first-child>.btn, #AccountModal .input-group-btn:first-child>.btn-group {
	margin-left: -1px;
}

#AccountModal #AccountModal .input-group-btn:last-child>.btn, #AccountModal .input-group-btn:last-child>.btn-group {
	z-index: 2;
	margin-right: -1px;
}

#AccountModal .label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

#AccountModal a.label:hover, a.label:focus {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

#AccountModal .label:empty {
	display: none;
}

#AccountModal .btn .label {
	position: relative;
	top: -1px;
}

#AccountModal .label-default {
	background-color: #777;
}

#AccountModal .label-default[href]:hover, .label-default[href]:focus {
	background-color: #5e5e5e;
}

#AccountModal .label-danger {
	background-color: #d9534f;
}

#AccountModal .label-danger[href]:hover, #AccountModal .label-danger[href]:focus {
	background-color: #c9302c;
}

#AccountModal .badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #777;
	border-radius: 10px;
}

#AccountModal .badge:empty {
	display: none;
}

#AccountModal .btn .badge {
	position: relative;
	top: -1px;
}

#AccountModal .btn-xs .badge, #AccountModal .btn-group-xs>.btn .badge {
	top: 0;
	padding: 1px 5px;
}

#AccountModal a.badge:hover, a.badge:focus {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

#AccountModal .thumbnail {
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}

#AccountModal .thumbnail>img, .thumbnail a>img {
	margin-right: auto;
	margin-left: auto;
}

#AccountModal a.thumbnail:hover, #AccountModal a.thumbnail:focus, #AccountModal a.thumbnail.active {
	border-color: #337ab7;
}

#AccountModal .thumbnail .caption {
	padding: 9px;
	color: #333;
}

#AccountModal .alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

#AccountModal .alert h4 {
	margin-top: 0;
	color: inherit;
}

#AccountModal .alert .alert-link {
	font-weight: bold;
}

#AccountModal .alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

#AccountModal .alert-success hr {
	border-top-color: #c9e2b3;
}

#AccountModal .alert-success .alert-link {
	color: #2b542c;
}

#AccountModal .alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

#AccountModal .alert-danger hr {
	border-top-color: #e4b9c0;
}

#AccountModal .alert-danger .alert-link {
	color: #843534;
}

#AccountModal .close {
	float: left;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
}

#AccountModal .close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=50);
	opacity: .5;
}

#AccountModal button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
}

#AccountModal .modal-open {
	overflow: hidden;
}

#AccountModal .modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}

#AccountModal .modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%);
}

#AccountModal .modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}

#AccountModal .modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}

#AccountModal .modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}

#AccountModal .modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

#AccountModal .modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
}

#AccountModal .modal-backdrop.fade {
	filter: alpha(opacity=0);
	opacity: 0;
}

#AccountModal .modal-backdrop.in {
	filter: alpha(opacity=50);
	opacity: .5;
}

#AccountModal .modal-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
}

#AccountModal .modal-header .close {
	margin-top: -2px;
}

#AccountModal .modal-title {
	margin: 0;
	line-height: 1.42857143;
}

#AccountModal .modal-body {
	position: relative;
	padding: 15px;
}

#AccountModal .modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}

#AccountModal .modal-footer .btn+.btn {
	margin-bottom: 0;
	margin-right: 5px;
}

#AccountModal .modal-footer .btn-group .btn+.btn {
	margin-right: -1px;
}

#AccountModal .modal-footer .btn-block+.btn-block {
	margin-left: 0;
}

#AccountModal .modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

@media (min-width: 768px) {
	#AccountModal .modal-dialog {
		width: 600px;
		margin: 30px auto;
	}
	#AccountModal .modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
		box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	}
	#AccountModal .modal-sm {
		width: 300px;
	}
}

@media (min-width: 992px) {
	#AccountModal .modal-lg {
		width: 900px;
	}
}

#AccountModal .popover {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1060;
	display: none;
	max-width: 276px;
	padding: 1px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	white-space: normal;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	line-break: auto;
}

#AccountModal .popover.top {
	margin-top: -10px;
}

#AccountModal .popover.right {
	margin-right: 10px;
}

#AccountModal .popover.bottom {
	margin-top: 10px;
}

#AccountModal .popover.left {
	margin-left: -10px;
}

#AccountModal .popover-title {
	padding: 8px 14px;
	margin: 0;
	font-size: 14px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	border-radius: 5px 5px 0 0;
}

#AccountModal .popover-content {
	padding: 9px 14px;
}

#AccountModal .popover>.arrow, #AccountModal .popover>.arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

#AccountModal .popover>.arrow {
	border-width: 11px;
}

#AccountModal .popover>.arrow:after {
	content: "";
	border-width: 10px;
}

#AccountModal .popover.top>.arrow {
	bottom: -11px;
	right: 50%;
	margin-right: -11px;
	border-top-color: #999;
	border-top-color: rgba(0, 0, 0, .25);
	border-bottom-width: 0;
}

#AccountModal .popover.top>.arrow:after {
	bottom: 1px;
	margin-right: -10px;
	content: " ";
	border-top-color: #fff;
	border-bottom-width: 0;
}

#AccountModal .popover.right>.arrow {
	top: 50%;
	right: -11px;
	margin-top: -11px;
	border-left-color: #999;
	border-left-color: rgba(0, 0, 0, .25);
	border-right-width: 0;
}

#AccountModal .popover.right>.arrow:after {
	bottom: -10px;
	right: 1px;
	content: " ";
	border-right-color: #fff;
	border-left-width: 0;
}

#AccountModal .popover.bottom>.arrow {
	top: -11px;
	right: 50%;
	margin-right: -11px;
	border-top-width: 0;
	border-bottom-color: #999;
	border-bottom-color: rgba(0, 0, 0, .25);
}

#AccountModal .popover.bottom>.arrow:after {
	top: 1px;
	margin-right: -10px;
	content: " ";
	border-top-width: 0;
	border-bottom-color: #fff;
}

#AccountModal .popover.left>.arrow {
	top: 50%;
	right: -11px;
	margin-top: -11px;
	border-right-width: 0;
	border-left-color: #999;
	border-left-color: rgba(0, 0, 0, .25);
}

#AccountModal .popover.left>.arrow:after {
	right: 1px;
	bottom: -10px;
	content: " ";
	border-right-width: 0;
	border-left-color: #fff;
}

#AccountModal .carousel {
	position: relative;
}

#AccountModal .carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden;
}

#AccountModal .carousel-inner>.item {
	position: relative;
	display: none;
	-webkit-transition: .6s ease-in-out left;
	-o-transition: .6s ease-in-out left;
	transition: .6s ease-in-out left;
}

#AccountModal .carousel-inner>.item>img, #AccountModal .carousel-inner>.item>a>img {
	line-height: 1;
}

#AccountModal .carousel-inner>.active, #AccountModal .carousel-inner>.next, #AccountModal .carousel-inner>.prev {
	display: block;
}

#AccountModal .carousel-inner>.active {
	left: 0;
}

#AccountModal .carousel-inner>.next, #AccountModal .carousel-inner>.prev {
	position: absolute;
	top: 0;
	width: 100%;
}

#AccountModal .carousel-inner>.next {
	left: 100%;
}

#AccountModal .carousel-inner>.prev {
	left: -100%;
}

#AccountModal .carousel-inner>.next.left, #AccountModal .carousel-inner>.prev.right {
	left: 0;
}

#AccountModal .carousel-inner>.active.left {
	left: -100%;
}

#AccountModal .carousel-inner>.active.right {
	left: 100%;
}

#AccountModal .carousel-control {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 15%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	filter: alpha(opacity=50);
	opacity: .5;
}

#AccountModal .carousel-control.left {
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
	background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	background-repeat: repeat-x;
}

#AccountModal .carousel-control.right {
	right: 0;
	left: auto;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
	background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
	background-repeat: repeat-x;
}

#AccountModal .carousel-control:hover, #AccountModal .carousel-control:focus {
	color: #fff;
	text-decoration: none;
	filter: alpha(opacity=90);
	outline: 0;
	opacity: .9;
}

#AccountModal .carousel-control .icon-prev, #AccountModal .carousel-control .icon-next, #AccountModal .carousel-control .glyphicon-chevron-left, #AccountModal .carousel-control .glyphicon-chevron-right {
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
}

#AccountModal .carousel-control .icon-prev, #AccountModal .carousel-control .glyphicon-chevron-left {
	left: 50%;
	margin-left: -10px;
}

#AccountModal .carousel-control .icon-next, #AccountModal .carousel-control .glyphicon-chevron-right {
	right: 50%;
	margin-right: -10px;
}

#AccountModal .carousel-control .icon-prev, #AccountModal .carousel-control .icon-next {
	width: 20px;
	height: 20px;
	margin-top: -10px;
	font-family: serif;
}

#AccountModal .carousel-control .icon-prev:before {
	content: '\2039';
}

#AccountModal .carousel-control .icon-next:before {
	content: '\203a';
}

#AccountModal .carousel-indicators {
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 15;
	width: 60%;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none;
}

#AccountModal .carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #000 \9;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #fff;
	border-radius: 10px;
}

#AccountModal .carousel-indicators .active {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #fff;
}

#AccountModal .carousel-caption {
	position: absolute;
	right: 15%;
	bottom: 20px;
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

#AccountModal .carousel-caption .btn {
	text-shadow: none;
}

@media screen and (min-width: 768px) {
	#AccountModal .carousel-control .glyphicon-chevron-left, #AccountModal .carousel-control .glyphicon-chevron-right, #AccountModal .carousel-control .icon-prev, #AccountModal .carousel-control .icon-next {
		width: 30px;
		height: 30px;
		margin-top: -15px;
		font-size: 30px;
	}
	#AccountModal .carousel-control .glyphicon-chevron-left, #AccountModal .carousel-control .icon-prev {
		margin-left: -15px;
	}
	#AccountModal .carousel-control .glyphicon-chevron-right, #AccountModal .carousel-control .icon-next {
		margin-right: -15px;
	}
	#AccountModal .carousel-caption {
		right: 20%;
		left: 20%;
		padding-bottom: 30px;
	}
	#AccountModal .carousel-indicators {
		bottom: 20px;
	}
}

#AccountModal .clearfix:before, #AccountModal .clearfix:after, #AccountModal .row:before, #AccountModal .row:after, #AccountModal .form-horizontal .form-group:before, #AccountModal .form-horizontal .form-group:after, #AccountModal .modal-header:before, #AccountModal .modal-header:after, #AccountModal .modal-footer:before, #AccountModal .modal-footer:after {
	display: table;
	content: " ";
}

#AccountModal .clearfix:after, #AccountModal .dl-horizontal dd:after, #AccountModal .container:after, #AccountModal .container-fluid:after, #AccountModal .row:after, #AccountModal .btn-group-vertical>.btn-group:after, #AccountModal .modal-header:after, #AccountModal .modal-footer:after {
	clear: both;
}

#AccountModal .center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#AccountModal .pull-right {
	float: right !important;
}

#AccountModal .pull-left {
	float: left !important;
}

#AccountModal .hide {
	display: none !important;
}

#AccountModal .show {
	display: block !important;
}

#AccountModal .invisible {
	visibility: hidden;
}

#AccountModal .hidden {
	display: none !important;
}

@-ms-viewport {
	width: device-width;
}

#AccountModal .visible-xs, #AccountModal .visible-sm, #AccountModal .visible-md, #AccountModal .visible-lg {
	display: none !important;
}

#AccountModal .visible-xs-block, #AccountModal .visible-xs-inline, #AccountModal .visible-xs-inline-block, #AccountModal .visible-sm-block, #AccountModal .visible-sm-inline, #AccountModal .visible-sm-inline-block, #AccountModal .visible-md-block, #AccountModal .visible-md-inline, #AccountModal .visible-md-inline-block, #AccountModal .visible-lg-block, #AccountModal .visible-lg-inline, #AccountModal .visible-lg-inline-block {
	display: none !important;
}

@media (max-width: 767px) {
	#AccountModal .visible-xs {
		display: block !important;
	}
}

@media (max-width: 767px) {
	#AccountModal .visible-xs-block {
		display: block !important;
	}
}

@media (max-width: 767px) {
	#AccountModal .visible-xs-inline {
		display: inline !important;
	}
}

@media (max-width: 767px) {
	#AccountModal .visible-xs-inline-block {
		display: inline-block !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#AccountModal .visible-sm {
		display: block !important;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	#AccountModal .visible-md {
		display: block !important;
	}
}

@media (max-width: 767px) {
	#AccountModal .hidden-xs {
		display: none !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#AccountModal .hidden-sm {
		display: none !important;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	#AccountModal .hidden-md {
		display: none !important;
	}
}

@media (min-width: 1200px) {
	#AccountModal .hidden-lg {
		display: none !important;
	}
}