<div class="tm-prodetails">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" *ngIf="showCloseModalButton">
        <i class="fa fa-times"></i>
    </button>

    <div class="row">
        <div class="col-lg-5 col-md-6 col-12">

            <!-- Influencer Details Images -->
            <div class="tm-prodetails-images" *ngIf="!showCloseModalButton">
                <div class="tm-prodetails-largeimages">
                    <div class="tm-prodetails-largeimage">
                        <a href="{{influencer?.ImageUrl}}">
                            <img src="{{influencer?.ImageUrl}}" alt="{{influencer?.Title}}">
                        </a>
                    </div>
                    <div class="tm-prodetails-largeimage" *ngFor="let influencerImage of influencer?.InfluencerImages">
                        <a href="{{influencerImage.ImageUrl}}">
                            <img src="{{influencerImage.ImageUrl}}" alt="{{influencer.Title}}">
                        </a>
                    </div>

                </div>
                <div class="tm-prodetails-thumbnails">
                    <div class="tm-prodetails-thumbnail">
                        <img src="{{influencer?.ThumbImageUrl}}" alt="{{influencer?.Title}}">
                    </div>
                    <div class="tm-prodetails-thumbnail" *ngFor="let influencerImage of influencer?.InfluencerImages">
                        <img src="{{influencerImage.ThumbImageUrl}}" alt="{{influencer.Title}}">
                    </div>
                </div>
            </div>
            <!--// Influencer Details Images -->

            <div class="tm-prodetails-images" *ngIf="showCloseModalButton">
                <div class="tm-prodetails-largeimages">
                    <div class="tm-prodetails-largeimage">
                        <img src="{{influencer?.ImageUrl}}" alt="{{influencer?.Title}}">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-7 col-md-6 col-12">
            <div class="tm-prodetails-content">
                <h1 class="tm-prodetails-title">{{influencer?.Title}}</h1>


                <p><i><b>قیمت هر گرم طلا:</b></i> {{influencer?.GoldPrice | number:0}} تومان</p>
                <p><i><b>قیمت دلار:</b></i> {{influencer?.Dollar | number:0}} تومان</p>

                <p><i><b>قیمت:</b></i></p>
                <p [innerHTML]="influencer?.Price"></p>

                <div class="tm-prodetails-categories">
                    <h6>دسته بندی :</h6>

                    <a *ngIf="influencer" [routerLink]="['/category/', influencer?.CategoryId , influencer?.CategoryTitleUrl]" style="color: #007bff">
                        {{influencer?.CategoryTitle}}
                    </a>
                </div>

                <div class="tm-prodetails-tags" *ngIf="influencer?.TagList">
                    <span style="font-size: 13px">برچسب ها :</span>
                    <ul>
                        <li *ngFor="let tag of influencer?.TagList">
                            <a href="/influencer/tags/{{influencer?.Id}}/{{tag.url}}" target="_blank">{{ tag.name }}</a>
                        </li>
                    </ul>
                </div>


                <!-- <p *ngIf="influencer?.Description"><i><b>توضیحات:</b></i></p>
                <p [innerHTML]="influencer?.Description"></p> -->
            </div>
        </div>
    </div>
</div>