<div class="col-md-4 col-xs-12 collapsepanel">
    <div class="panel panel-primary">
        <div class="panel-heading" id="accordion">
            <span class="glyphicon glyphicon-comment" style="margin-left: 10px;"></span> پیام های این درخواست
            <div class="btn-group pull-left">
                <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" href="#collapseOne"
                    (click)="toggleChat()">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
            </div>
        </div>

        <div class="panel-collapse collapse" id="collapseOne">
            <div class="panel-body">
                <ul class="chat" style="direction: ltr;">

                    <li [class]="history._UserID == userId ? 'right clearfix': 'left clearfix'"
                        *ngFor="let history of histories">
                        <span class="{{history._UserID == userId ? 'pull-right': 'pull-left'}} chat-img col-md-2 col-xs-3">
                            <img [src]="history.ProfilePicUrl" alt="{{history.InstagramID}}"
                                data-toggle="tooltip" title="{{history.InstagramID}}" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix col-md-10 col-xs-9">
                            <div class="header" style="direction: rtl;">
                                <small [class]="history._UserID == userId ? 'text-muted timepast': 'pull-right text-muted timepast'" >
                                    <span class="glyphicon glyphicon-time"></span>
                                    {{history.RTime | timePast}}
                                </small>
                                <small [class]="history._UserID == userId ? 'pull-right primary-font': 'primary-font'">
                                    {{history.FullName}}</small>
                            </div>
                            <p>
                                {{history.Comment}}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input id="btn-input" type="text" class="form-control input-sm" [(ngModel)]="comment"
                        placeholder="متن پیام ..." #commentBox (keyup.enter)="sendComment()"/>
                    <span class="input-group-btn">
                        <button class="btn btn-warning btn-sm" id="btn-chat" (click)="sendComment()">
                            <span class="fa {{sendingComment? 'fa-spinner fa-spin': 'fa-arrow-circle-left'}}"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>