.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat-img {
    padding: 0px;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li p {
    text-align: right;
    font-size: 12px;
    margin-top: 3px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}

.panel-body {
    overflow-y: scroll;
    height: 280px;
}

#btn-chat {
    background-color: #ec407a !important;
    padding: 4px 10px;
}

#btn-chat span {
    font-size: 16px;
}

.glyphicon {
    top: 4px;
}

.collapsepanel {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.panel-primary {
    border-color: #ec407a;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #ec407a;
    border-color: #ec407a;
}

@media(max-width:576px) {
    .collapsepanel {
        position: absolute;
        top: -14px;
    }
    .panel-primary {
        border-color: #337ab7;
    }
    .panel-primary>.panel-heading {
        background-color: #337ab7;
        border-color: #337ab7;
    }
}

.img-circle {
    width: 55px;
}

.timepast {
    color: #646ea6;
}