<div class="card card-product">
    <div class="card-header card-header-image animated" data-header-animation="true">
        <a *ngIf="product" [routerLink]="['/product/detail', product?.Id , product?.Url]" style="padding:90px 0">
            <img class="img" src="{{product?.ThumbImageUrl}}" alt="{{product?.Title}}">
        </a>
    </div>
    <div class="card-body">
        <div class="card-actions text-center">

            <button type="button" class="btn btn-primary" style="font-size: 12px;height: 32px;margin: 6px;"
                (click)="quickView(product?.Id)">

                <i class="fa fa-eye"></i>
                نمایش سریع

            </button>

        </div>
        <h4 class="card-title">
            <a *ngIf="product" [routerLink]="['/product/detail', product?.Id , product?.Url]">
                {{product?.Title}}
            </a>
        </h4>
    </div>
    <div class="card-footer">
        <div class="price graycolor">
            <span style="font-size:12px">
                کد: {{ product?.Code}}
            </span>
        </div>
        <div class="stats">
            <p class="card-category graycolor">
                دسته بندی: 
                <a *ngIf="product" style="    color: #0056b3;" 
                    [routerLink]="['/category/', product?.CategoryId , product?.CategoryTitleUrl]">
                    
                    {{product?.CategoryTitle}}
                </a>
            </p>
        </div>
    </div>
</div>
