<a class="add-button" >
    <img src="../assets/Content/Images/Instagram-Verify-Icon.png" class="instaverify" *ngIf="influencer?.IsVerified" />
</a>
<div class="profile-picture big-profile-picture">
    <img width="150px" alt="{{influencer?.ProfileName}}" src="{{influencer?.ProfilePicUrl}}">
</div>
<h1 class="user-name">{{influencer?.ProfileName}}</h1>
<ul class="profile-options horizontal-list">
    <li style="border-left: none;">
        <a class="comments">
            <p><span class="icon fa fa-envelope-open scnd-font-color"></span>{{influencer?.PostsCount | number}}</p>
        </a></li>
    <li>
        <a class="views">
            <p><span class="icon fa fa-user scnd-font-color"></span>{{influencer?.FollowingCount | number}}</p>
        </a>
    </li>
    <li style="width:34%">
        <a class="likes">
            <p><span class="icon fa fa-user scnd-font-color"></span>{{influencer?.FollowersCount | number}}</p>
        </a>
    </li>
</ul>