label{
    width: 100%;
    font-size: 14px;
}

label span{
    font-size: 12px;
}

.fa-ban {
    font-size: 15px !important;
    color: red;
}

.fa-check {
    font-size: 15px !important;
    color: green;
}

.instagrampage label{
    margin: 20px 0 10px 0;
    color: #ec407a;
}

.requestdescription {
    margin-top: 15px;
}

.downloadattachment {
    display: inline-block;
}

.downloadattachment a {
    cursor: pointer;
}

.greencolor {
    color: green;
}