<div class="col-md-4 col-xs-12">
    <h5>کد درخواست: {{request?.RequestCode}}</h5>
</div>
<div class="col-md-4 col-xs-12">
    <h5>وضعیت:{{request?.PersianTitle}}</h5>
</div>
<div class="col-md-4 col-xs-12">
    <h5>تاریخ درخواست:{{request?.PersianRTime}}</h5>
</div>

<hr class="col-md-11">

<div class="col-md-4 col-xs-12">
    <label>
        نام کاربر:
        <span *ngIf="userId == request.DestinationUserID">{{request.FullNameOriginUser}}</span>
        <span *ngIf="userId != request.DestinationUserID">{{request.FullNameDestinationUser}}</span>
    </label>
</div>

<div class="col-md-2 col-xs-12">
    <span [class]="request?.IsPost ? 'fa fa-check' : 'fa fa-ban'"></span>
    پست
</div>
<div class="col-md-2 col-xs-12">
    <span [class]="request?.IsStory ? 'fa fa-check' : 'fa fa-ban'"></span>
    استوری
</div>
<div class="col-md-4 col-xs-12">
    <span [class]="request?.IsContent ? 'fa fa-check' : 'fa fa-ban'"></span>
    دارای محتوا

    <div *ngIf="request?.IsContent" class="downloadattachment">
        <a (click)="downloadAttachment()">(دانلود)</a>
    </div>
</div>

<div class="col-md-12 col-xs-12 requestdescription">
    <label>
        توضیحات: 
        <span>{{request.Description}}</span>
    </label>
</div>

<hr class="col-md-11">


<div class="col-md-12 col-xs-12" *ngIf="request._RequestStatusID == 2">
    <div class="col-md-5 col-xs-8 form-inline">
        قیمت پیشنهادی: 
        <input type="text" class="form-control" [(ngModel)]="userPrice"/>
    </div>
    
    <div class="col-md-2 col-xs-4">
        <input type="button" class="btn btn-primary" value="ثبت" (click)="setPrice()">
    </div>
    
    <div class="col-md-1 col-xs-3">
        <button class="btn btn-primary" >
            <span class="fa fa-check" style="color: green;"></span>
            تایید درخواست
        </button>
    </div>
</div>

<hr class="col-md-11">

<div class="col-md-12 instagrampage">

    <div class="col-md-5 col-xs-12 text-center">
        <label>
            اینستاگرام درخواست کننده
        </label>
        
        <app-single-influencer [influencer]='originInstagramPage'></app-single-influencer>
    </div>

    <div class="col-md-5 col-xs-12 text-center">
        <label>
            درخواست به اینستاگرام
        </label>

        <app-single-influencer [influencer]='destinationInstagramPage'></app-single-influencer>
    </div>

</div>