<router-outlet></router-outlet>

<app-login-form></app-login-form>

<h1 class="visually-hidden text-center" style="direction:rtl">
    راه حل جامع کاریابی و استخدام
</h1>

<div class="row nav-row">
    <nav id="custom-nav" class="navbar navbar-inverse navbar-fixed-top isActiveFair">


        <div class="container-fluid">

            <div class="navbar-header guest-mode">
                <div class="col-xs-6 first-header-section">
                    <ul class="nav navbar-nav navbar-left visible-xs visible-sm">
                        <li class="active">

                            <a style="cursor:pointer;" onclick="onOpenLoginAndRegisterClicked(this)" inital-page="0"
                                return-url="https://jobvision.ir/" class="signin-btn">ورود / عضویت</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 col-xs-6 second-header-section">
                    <a class="navbar-brand" href="/" alt="لوگوی جاب ویژن">
                        <img src="../assets/Content/Images/JVLogo.png" alt="لوگوی جاب ویژن" />
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#jvNavbar">
                        <span class="icon-bar togglable-collapse"></span>
                        <span class="icon-bar togglable-collapse"></span>
                        <span class="icon-bar togglable-collapse"></span>
                        <i class="fa fa-remove togglable-collapse hidden"></i>
                    </button>
                </div>
            </div>
            <div class="collapse navbar-collapse guest-mode" id="jvNavbar">
                <ul class="nav navbar-nav navbar-left hidden-xs hidden-sm">
                    <li class="active">
                        <a style="cursor:pointer;" onclick="onOpenLoginAndRegisterClicked(this)" inital-page="0"
                            return-url="https://jobvision.ir/" class="signin-btn">ورود / عضویت</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href='/Jobs'>فرصت‌های شغلی</a></li>
                    <li><a href='/Assessments/Home'>خودت رو بشناس</a></li>
                    <li><a href='/Courses/Home'>توانمندتر شو</a></li>

                    <li><a href='/Home/Employee' class="jvForEmployee">جاب ویژن برای کارجو</a></li>
                    <li><a href='/Home/Employer'>جاب ویژن برای کارفرما</a></li>
                    <li><a href='/Companies/Index'>معرفی شرکت‌ها</a></li>
                    <li><a href="http://blog.jobvision.ir" target="_blank">بلاگ</a></li>

                </ul>
            </div>


            <input type="hidden" id="jvLog_UserId" />
        </div>
    </nav>

    <div class="container">

        <div class="col-xs-12 header-row">

            <div class="jVForEemployees-con">
                <div class="jVForEemployees">
                    <h2 class="innerlabe">می‌خواهید استخدام شوید؟</h2>
                    <a class="btn center-block btn-jVForEemployees hidden-xs hidden-sm" href="/Home/Employee"
                        target="_blank">جاب‌ویژن برای کارجو</a>
                    <a class="btn center-block btn-jVForEemployees visible-xs" href="/Home/Employee">جاب‌ویژن برای
                        کارجو</a>
                </div>
            </div>
            <div class="jVForEemployers-con">
                <div class="jVForEemployers">
                    <h2 class="innerlabe">می‌خواهید استخدام کنید؟</h2>
                    <a class="btn center-block btn-jVForEemployers hidden-xs hidden-sm" href="/Home/Employer"
                        target="_blank">جاب‌ویژن برای کارفرما</a>
                    <a class="btn center-block btn-jVForEemployers visible-xs" href="/Home/Employer">جاب‌ویژن برای
                        کارفرما</a>
                </div>
            </div>
        </div>

        <div class="global-container">

            <div class="slider-row">
                <div class="text-center slider-header">
                    <h3 class="lbl-jVIsForYou">
                         
                    </h3>
                </div>
            </div>

            <div class="matchingSystem-part rightImage-part lazyLoadImg">
                <div class="pic-side">
                    <img class="desk" src="../assets/Content/Images/Home/Employee/Selection@2x.png"
                        alt="سیستم هوشمند انطباق" />
                </div>
                <div class="desc-side">
                    <h3 class="desc-side-title">سیستم هوشمند انطباق</h3>
                    <img class="mob" src="../assets/Content/Images/Home/Employee/Selection@2x.png"
                        alt="سیستم هوشمند انطباق" />
                    <p class="description">
                        با استفاده از سیستم هوشمند انطباق، کارفرما هنگام ثبت آگهی استخدام، شرایط مد نظر خود را در ۱۱
                        شاخص مختلف، مشخص نموده و وزن دلخواه خود را به هر یک از این شاخص‌ها اختصاص میدهد. بنابراین
                        شما قبل از ارسال رزومه به‌راحتی متوجه خواهید شد که رزومه شما تا چه حد با هر آگهی استخدام
                        انطباق دارد.
                    </p>
                    <div class="button-part">
                        <a id="jVForEmployees-link " class="btn jVLink hidden-xs hidden-sm" href="/Home/Employee"
                            target="_blank">جاب‌ ویژن برای کارجو</a>
                        <a id="jVForEmployees-link" class="btn jVLink visible-xs visible-sm center-block"
                            href="/Home/Employee">جاب‌ویژن برای کارجو</a>
                    </div>
                </div>
            </div>

            <div class="cvBuilder-part leftImage-part lazyLoadImg">
                <div class="desc-side">
                    <h3 class="desc-side-title">رزومه‌ساز دوزبانه و استاندارد</h3>
                    <img class="mob" src="../assets/Content/Images/Home/Employee/MultiLanguage.png"
                        alt="تصویر رزومه ساز دو زبانه جاب ویژن" />
                    <p class="description">
                        اولین بار این رزومه شماست که به جای شما با کارفرما حرف میزند!
                        <br />
                        <span class="free-space"></span>
                        پس بهتر است در اولین گام، با استفاده از رزومه ساز دو زبانه جاب ویژن، رزومه ای استاندارد و در
                        عین حال زیبا برای خود بسازید تا بتوانید شانس استخدام بالاتری داشته باشید.
                        <br />
                        نکته جذاب و منحصر بفرد این رزومه ساز، تکمیل همزمان اطلاعات رزومه انگلیسی و فارسی بصورت
                        خودکار است.
                    </p>
                    <div class="button-part">
                        <a id="resumeeBuilder" class="btn  jVLink hidden-xs hidden-sm" style="cursor:pointer;"
                            onclick="onOpenLoginAndRegisterClicked(this)" inital-page="0" return-url="/Profile/Basic"
                            href="#">ساخت رزومه</a>
                        <a id="resumeeBuilder" class="btn jVLink visible-xs visible-sm" style="cursor:pointer;"
                            onclick="onOpenLoginAndRegisterClicked(this)" inital-page="0" return-url="/Profile/Basic"
                            href="#">ساخت رزومه</a>
                    </div>
                </div>
                <div class="pic-side">
                    <img class="desk" src="../assets/Content/Images/Home/Employee/MultiLanguage.png"
                        alt="تصویر رزومه ساز دو زبانه جاب ویژن" />
                </div>
            </div>

            <div class="selfAssessment-part rightImage-part lazyLoadImg">
                <div class="pic-side">
                    <img class="desk" src="../assets/Content/Images/Home/Employee/Assessment@2x.png"
                        alt="تصویر لوگوی آزمون و ارزیابی" />
                </div>
                <div class="desc-side">
                    <h3 class="desc-side-title">ارزیابی ویژگی‌های شخصیتی و فردی</h3>
                    <img class="mob" src="../assets/Content/Images/Home/Employee/Assessment@2x.png"
                        alt="تصویر لوگوی آزمون و ارزیابی" />
                    <p class="description">
                        شناخت نادرست ویژگی‌های شخصیتی و فردی یکی از مهمترین عوامل ناکامی در یافتن شغل مناسب و دلیل
                        اصلی نرخ بالای ترک شغل خصوصا در سالهای اولیه اشتغال است.
                        <br />
                        جاب ویژن با گردآوری یک سری از معتبرترین آزمون‌ها و با ارائه‌ی گزارش‌های تحلیلی دقیق، به شما
                        کمک می‌کند تا قبل از استخدام به شناخت دقیق‌تری از ویژگی‌های شخصیتی، علائق و تمایلات شغلی،
                        هوش هیجانی (EQ) و سایر جنبه‌های هوش از جمله توانمندی‌های حل مساله و قدرت تحلیل و استدلال
                        منطقی خود برسید.
                    </p>
                    <div class="button-part">
                        <a id="selfAssessment-link" class="btn jVLink hidden-xs hidden-sm" href="/Assessments/Home"
                            target="_blank">ارزیابی فردی</a>
                        <a id="selfAssessment-link" class="btn jVLink visible-xs visible-sm center-block"
                            href="/Assessments/Home">ارزیابی فردی</a>
                    </div>
                </div>
            </div>

            <div class="meetingWithManagers-part leftImage-part lazyLoadImg">
                <div class="desc-side">
                    <h3 class="desc-side-title">ایجاد بستری برای ملاقات با مدیران شرکت‌ها در نمایشگاه کار</h3>
                    <img class="mob" src="../assets/Content/Images/Home/Employee/jobfair@2x.png"
                        alt="لوگوی ملاقات با مدیران شرکتها در جاب ویژن" />
                    <p class="description">
                        نمایشگاه کار فرصتی است منحصربفرد برای دسترسی به هزاران آگهی استخدام و از آن مهمتر ملاقات
                        مدیران بهترین سازمانهای کشور در یک زمان و مکان مشخص!
                        <br />
                        سازمانها در این رویداد به دنبال ارتقای برند کارفرمایی خود و استخدام بهترین استعدادهای بازار
                        کار هستند و کارجویان نیز در طرف مقابل تلاش می کنند تا اطلاعات کافی در مورد سازمانها کسب کرده
                        و شانس خود را برای استخدام شدن در شغل مورد نظر امتحان کنند.
                    </p>
                </div>
                <div class="pic-side">
                    <img class="desk" src="../assets/Content/Images/Home/Employee/jobfair@2x.png"
                        alt="لوگوی ملاقات با مدیران شرکتها در جاب ویژن" />
                </div>
            </div>

            <div class="slider-row">
                <div class="text-center slider-header">
                    <h3 class="lbl-jVIsForYou">سازمانهای معتبر برای استخدام به جاب ویژن اعتماد می‌کنند</h3>
                </div>
                <div id="Favorite-JobPosts" class="row col-xs-12 lazyLoadImg">
                    <div style="padding-bottom: 15px;">


                        <section class="variable slider">
                            <div>
                                <div class="companyLogo" data-url="/Company/7592/golrang-industrial-group-job">
                                    <img class="img-responsive center-block text-center filterFavoriteJobPost"
                                        style="cursor: pointer !important;"
                                        alt="فرصت های شغلی گروه صنعتی گلرنگ در جاب ویژن Jobvision" data-id="7592"
                                        data-lazy="https://file.jobvision.ir/Uploads/Assets/CompanyLogo/7592/Image/CoLogo-7592-125x110.jpg" />


                                </div>
                                <div class="CompanyNames text-center"
                                    style="display:none;word-wrap: break-word;font-size:11px;" data-id="7592">
                                    <span style="cursor: pointer !important;">گروه صنعتی گلرنگ</span>
                                </div>
                            </div>
                            <div>
                                <div class="companyLogo" data-url="/Company/2219/torfehnegar-job">
                                    <img class="img-responsive center-block text-center filterFavoriteJobPost"
                                        style="cursor: pointer !important;"
                                        alt="فرصت های شغلی گروه شرکت های طرفه نگار در جاب ویژن Jobvision" data-id="2219"
                                        data-lazy="https://file.jobvision.ir/Uploads/Assets/CompanyLogo/2219/Image/CoLogo-2219-125x110.jpg" />


                                </div>
                                <div class="CompanyNames text-center"
                                    style="display:none;word-wrap: break-word;font-size:11px;" data-id="2219">
                                    <span style="cursor: pointer !important;">گروه شرکت های طرفه نگار</span>
                                </div>
                            </div>
                            <div>
                                <div class="companyLogo" data-url="/Company/1130/golrangsystem-job">
                                    <img class="img-responsive center-block text-center filterFavoriteJobPost"
                                        style="cursor: pointer !important;"
                                        alt="فرصت های شغلی گلرنگ سیستم در جاب ویژن Jobvision" data-id="1130"
                                        data-lazy="https://file.jobvision.ir/Uploads/Assets/CompanyLogo/1130/Image/CoLogo-1130-125x110.jpg" />


                                </div>
                                <div class="CompanyNames text-center"
                                    style="display:none;word-wrap: break-word;font-size:11px;" data-id="1130">
                                    <span style="cursor: pointer !important;">گلرنگ سیستم</span>
                                </div>
                            </div>
                            <div>
                                <div class="companyLogo" data-url="/Company/125/parspack-job">
                                    <img class="img-responsive center-block text-center filterFavoriteJobPost"
                                        style="cursor: pointer !important;"
                                        alt="فرصت های شغلی پارس پک در جاب ویژن Jobvision" data-id="125"
                                        data-lazy="https://file.jobvision.ir/Uploads/Assets/CompanyLogo/125/Image/CoLogo-125-125x110.jpg" />


                                </div>
                                <div class="CompanyNames text-center"
                                    style="display:none;word-wrap: break-word;font-size:11px;" data-id="125">
                                    <span style="cursor: pointer !important;">پارس پک</span>
                                </div>
                            </div>
                            <div>
                                <div class="companyLogo" data-url="/Company/778/fanap-job">
                                    <img class="img-responsive center-block text-center filterFavoriteJobPost"
                                        style="cursor: pointer !important;"
                                        alt="فرصت های شغلی فناپ زیرساخت در جاب ویژن Jobvision" data-id="778"
                                        data-lazy="https://file.jobvision.ir/Uploads/Assets/CompanyLogo/778/Image/CoLogo-778-125x110.jpg" />


                                </div>
                                <div class="CompanyNames text-center"
                                    style="display:none;word-wrap: break-word;font-size:11px;" data-id="778">
                                    <span style="cursor: pointer !important;">فناپ زیرساخت</span>
                                </div>
                            </div>
                            <div>
                                <div class="companyLogo" data-url="/Company/2985/irannovinco-job">
                                    <img class="img-responsive center-block text-center filterFavoriteJobPost"
                                        style="cursor: pointer !important;"
                                        alt="فرصت های شغلی کانون تبلیغاتی ایران نوین در جاب ویژن Jobvision"
                                        data-id="2985"
                                        data-lazy="https://file.jobvision.ir/Uploads/Assets/CompanyLogo/2985/Image/CoLogo-2985-125x110.jpg" />


                                </div>
                                <div class="CompanyNames text-center"
                                    style="display:none;word-wrap: break-word;font-size:11px;" data-id="2985">
                                    <span style="cursor: pointer !important;">کانون تبلیغاتی ایران نوین</span>
                                </div>
                            </div>
                            <div>
                                <div class="companyLogo" data-url="/Company/1338/asiatech-job">
                                    <img class="img-responsive center-block text-center filterFavoriteJobPost"
                                        style="cursor: pointer !important;"
                                        alt="فرصت های شغلی شرکت انتقال داده‌های آسیاتک در جاب ویژن Jobvision"
                                        data-id="1338"
                                        data-lazy="https://file.jobvision.ir/Uploads/Assets/CompanyLogo/1338/Image/CoLogo-1338-125x110.jpg" />


                                </div>
                                <div class="CompanyNames text-center"
                                    style="display:none;word-wrap: break-word;font-size:11px;" data-id="1338">
                                    <span style="cursor: pointer !important;">شرکت انتقال داده‌های آسیاتک</span>
                                </div>
                            </div>
                            <div>
                                <div class="companyLogo" data-url="/Company/799/ehsan-investment-group-job">
                                    <img class="img-responsive center-block text-center filterFavoriteJobPost"
                                        style="cursor: pointer !important;"
                                        alt="فرصت های شغلی گروه سرمایه گذاری احسان در جاب ویژن Jobvision" data-id="799"
                                        data-lazy="https://file.jobvision.ir/Uploads/Assets/CompanyLogo/799/Image/CoLogo-799-125x110.jpg" />


                                </div>
                                <div class="CompanyNames text-center"
                                    style="display:none;word-wrap: break-word;font-size:11px;" data-id="799">
                                    <span style="cursor: pointer !important;">گروه سرمایه گذاری احسان</span>
                                </div>
                            </div>
                            <div>
                                <div class="companyLogo" data-url="/Company/660/green-sciences-co-ltd-job">
                                    <img class="img-responsive center-block text-center filterFavoriteJobPost"
                                        style="cursor: pointer !important;"
                                        alt="فرصت های شغلی شرکت علوم سبز در جاب ویژن Jobvision" data-id="660"
                                        data-lazy="https://file.jobvision.ir/Uploads/Assets/CompanyLogo/660/Image/CoLogo-660-125x110.jpg" />


                                </div>
                                <div class="CompanyNames text-center"
                                    style="display:none;word-wrap: break-word;font-size:11px;" data-id="660">
                                    <span style="cursor: pointer !important;">شرکت علوم سبز</span>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
                <div class="button-part">
                    <a id="jobPostSearch" class="btn center-block hidden-xs hidden-sm" href="/Jobs"
                        target="_blank">جستجوی فرصت‌های شغلی</a>
                    <a id="jobPostSearch" class="btn center-block visible-xs visible-sm" href="/Jobs">جستجوی
                        فرصت‌های شغلی</a>
                    <a id="companiesIntro" class="btn center-block hidden-xs hidden-sm" href="/Companies/Index"
                        target="_blank">معرفی شرکت‌ها</a>
                    <a id="companiesIntro" class="btn center-block visible-xs visible-sm" href="/Companies/Index">معرفی
                        شرکت‌ها</a>
                </div>
            </div>

            <div class="jVIsForYou">
                <h3 class="lbl-jVIsForYou">جاب‌ویژن برای شماست</h3>
                <p class="p-jVIsForYou">
                    جاب ویژن، با در نظر گرفتن توانمندی‌ها، ویژگی‌های شخصیتی و علائق، به استخدام شما کمک می‌کند.
                </p>
                <a onclick="onOpenLoginAndRegisterClicked(this)" inital-page="0"
                    class="btn center-block lnk-jVIsForYou signin-btn" return-url="" href="#">بزن بریم</a>
            </div>

        </div>


        <div class="modal fade" id="IsPendingModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #ebebeb !important">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p style="font-size: small; direction:rtl">
                            برای ثبت اولین آگهی نیاز است تا اطلاعات شرکت شما توسط تیم جاب ویژن بررسی تایید شود.
                            <br />
                            این فرایند حداکثر ظرف یک روز کاری انجام خواهد شد.
                        </p>
                    </div>
                    <div class="modal-footer"
                        style="background-color: #ebebeb !important; text-align: center !important">
                        <a class="btn btn-success btn-ok customLink" data-dismiss="modal">تایید</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="xs-Media" class="visible-xs"></div>
        <div id="overlayHomeLoading"></div>


    </div>
</div>


<div class="row footer-row first-footer Hide-screen">
    <div class="col-sm-4 third-section">
        <div class="col-sm-12">
            <img src="../assets/Content/Images/logo-job-vision.png" alt="لوگوی جاب ویژن JobVision">
        </div>

        <div class="col-sm-12 copyright-container">
            <p class="copyright">Copyright © 2016 Jobvision co. All rights reserved.</p>
        </div>
        <div class="col-sm-12 social-links">
            <a href="https://www.instagram.com/job_vision" target="_blank">
                <img class="btn-social" src="../assets/Content/Images/instagram.png"
                    alt="صفحه اینستاگرام جاب ویژن Instagram JobVision">
            </a>
            <a href="https://www.telegram.me/jobvision" target="_blank">
                <img class="btn-social" src="../assets/Content/Images/maintelegram.png"
                    alt="کانال تلگرام جاب ویژن Telegram JobVision">
            </a>
            <a href="http://www.aparat.com/jobvision" target="_blank">
                <img class="btn-social" src="../assets/Content/Images/aparat.png" alt="آپارت جاب ویژن Aparat JobVision">
            </a>
            <a href="https://www.linkedin.com/company/13213221?trk=tyah&amp;trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A13213221%2Cidx%3A2-4-5%2CtarId%3A1477291719870%2Ctas%3Ajob%20vision"
                target="_blank">
                <img class="btn-social" src="../assets/Content/Images/MainLinkedIn.png"
                    alt="صفحه لینکداین جاب ویژن Linked-in JobVision">
            </a>
            <a href="https://twitter.com/JobVision_ir?s=09" target="_blank">
                <img class="btn-social" src="../assets/Content/Images/Twitter.png"
                    alt="صفحه توییتر جاب ویژن Twitter JobVision">
            </a>
        </div>

    </div>
    <div class="col-sm-4 second-section">
        <p class="footer-text"> جاب ویژن بعنوان اولین ارائه دهنده بسته جامع خدمات کاریابی و استخدام، تجربه برگزاری
            موفق ادوار مختلف نمایشگاه کار دانشگاه شریف و نمایشگاه کار ایران را در کارنامه کاری خود دارد. </p>
        <p class="footer-text">
            سیستم هوشمند انطباق، رزومه ساز دو زبانه و استاندارد، تست‌های خودشناسی و همکاری با معتبرترین سازمانها
            برای استخدام از ویژگی‌های متمایز جاب ویژن است. دسترسی به طیف وسیعی از آگهی‌های استخدام برای کارجویان و
            نیز بانک منحصربفردی از رزومه ها برای کارفرمایان از دیگر خدمات جاب‌ویژن می باشد.
        </p>
        <div class="col-xs-12 clearfix visible-xs contactLink-xs">
            <div class="col-xs-4">
                <a class="footer-button" href='/home/PrivacyPolicy'>قوانین و مقررات</a>
            </div>
            <div class="col-xs-4">
                <a class="footer-button" href='/home/ContactUs'>تماس با ما</a>
            </div>
            <div class="col-xs-4">
                <a class="footer-button" href='/home/FAQ'>سوالات متداول</a>
            </div>

        </div>
    </div>
    <div class="col-sm-4 first-section hidden-xs">

        <div class="col-xs-12">
            <div class="col-xs-6">
                <a class="footer-button" href='/home/Employee'>جاب ویژن برای کارجو</a>
            </div>
            <div class="col-xs-6">
                <a class="footer-button" href='/home/PrivacyPolicy'>قوانین و مقررات</a>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-6">
                <a class="footer-button" href='/home/Employer'>جاب ویژن برای کارفرما</a>
            </div>
            <div class="col-xs-6">
                <a class="footer-button" href='/home/FAQ'>سوالات متداول</a>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-6">
                <a class="footer-button" href='/Assessments/Home'>ارزیابی فردی</a>
            </div>
            <div class="col-xs-6">
                <a class="footer-button" href='/home/ContactUs'>تماس با ما</a>
            </div>
        </div>
    </div>
</div>
<div class="row footer-row second-footer Hide-screen">
    <div class="col-sm-4 second-section">
        <p class="footer-text">
            جاب ویژن از سوی معاونت علمی و فناوری ریاست جمهوری بعنوان یک <strong> محصول دانش بنیان</strong> شناخته
            شده است.
            <br />
            <br />
            دارای مجوز رسمی کاریابی الکترونیکی از وزارت کار، تعاون و رفاه اجتماعی
        </p>
    </div>
    <div class="col-sm-4 second-section text-center" style="direction:ltr;">

    </div>
    <div class="col-sm-4 second-section">

        <div class="pull-right">
            <span class="advertise-section">جاب ویژن توسط سرورهای اختصاصی <strong>پارس پک</strong> پشتیبانی
                می‌شود.</span>
        </div>
        <div class="col-md-12">

        </div>
    </div>
</div>

<div class="jv-pre-loader" style="direction :rtl;" data-prevent="no" data-preventshow="no">


    <img class="transparent-image" src="../assets/Content/oie_14123859s9fjJLiD.gif" width="64" alt="جاب ویژن" />
</div>

<div id="jobpost-creation-language-selection" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #ffffff !important">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <p style="direction: rtl;">
                    تمایل دارید فرصت شغلی خود را به چه زبانی ثبت کنید ؟
                </p>
            </div>
            <div class="text-center" style="text-align: center;">
                <button id="english-language-submit" type="button" class="btn newJobPostSubmit">انگلیسی</button>
                <button id="persian-language-submit" type="button" class="btn newJobPostSubmit">فارسی</button>
                <br />
                <br />
                <label id="notCompletedFa" style="color: black; display: none; font-size: small; ">برای ثبت فرصت
                    شغلی فارسی باید ابتدا پروفایل فارسی خود را تکمیل نمایید</label>
                <label id="notCompletedEn" style="color: black; display: none; font-size: small;">برای ثبت فرصت شغلی
                    انگلیسی باید ابتدا پروفایل انگلیسی خود را تکمیل نمایید</label>
                <br />
                <div class="row" style="display: inline-block">
                    <a id="CreateProfile" class="btn btn-warning col-md-12"
                        style="color: white; display: none;border-radius: 20px;background-color: #f0ad4e"
                        href='/EmployerProfile/CreateOrEdit'>تکمیل پروفایل</a>
                </div>

            </div>
            <br />
        </div>
    </div>
</div>
<div class="modal fade" id="errorModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" style="background-color: #ebebeb !important">
                <span id="errormessageheholder" style="float: right;font-size: 16px;font-weight: 500;"></span>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>

            <div class="modal-body text-center">
                <p style="font-size: small;direction:rtl">
                    <span id="errocodeholder"></span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="flyerpwa" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content col-xs-12">
            <div class="modal-header" style="background-color: #ffffff !important">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body text-center col-xs-12">

                <p> کارجوی عزیز اگه میخوای تجربه بهتری از کار با جاب ویژن داشته باشی دکمه اون رو تو گوشیت داشته باش
                </p>
                <p style="direction:rtl">
                    برای اینکار بعد از کلیک روی دکمه نصب تو کادری که باز میشه روی گزینه ADD کلیک کن تا آیکنش رو تو
                    دسکتاپت داشته باشی
                </p>
                <button class="add-button btn btn-success" style="border-radius:25px;">نصب جاب ویژن</button>

            </div>
            <br />
        </div>
    </div>
</div>
<div class="modal fade" id="buycvsearchmodal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #ffffff !important">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body">
                <p class="text-center">
                    چنانچه پیش از خرید بسته، نیاز به مشاهده دموی این پنل دارید، با شماره های زیر تماس بگیرید.

                    <!-- <p class="phoneNumber text-center bold">44979556</p>
              <p class="phoneNumber text-center bold">44077920</p> -->
                </p>
                <p class="text-center" style="font-size: medium; direction: rtl">
                    برای فعال سازی پنل جستجوی رزومه، بسته مورد نظر را خریداری کنید.
                </p>
                <div class="text-center" style="background-color: #ffffff !important; text-align: center !important">
                    <a class="btn  confirmJobPost" href='/EmployerProfile/Packages'>خرید بسته</a>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>