    body {
        font-size: 12px;
    }

    .checkbox {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    label {
        font-size: 12px;
    }

    ul.typeahead {
        text-align: right;
    }

    span.hide-native-select div.btn-group {
        width: 100%;
    }

    .form-control {
        height: 34px;
    }

    .table tr th {
        text-align: center;
    }

    td {
        text-align: center;
    }

    .btn {
        font-size: 14px;
    }

    .field-icon {
        float: left;
        top: -26px;
        left: 10px;
        font-size: 20px;
        position: relative;
        z-index: 2;
        color: gray;
        height: 0px;
    }

    .container {
        /*padding-top: 50px;*/
        margin: auto;
    }

    #AccountModal .form-group {
        margin-bottom: 12px !important;
    }

    div.companyLogo {
        line-height: 100px;
        text-align: center;
        margin: auto;
        vertical-align: middle;
        display: inline-block;
    }

    div.companyLogo img {
        margin-bottom: 0.25em;
        max-width: 100px;
        /* max-height: 70px; */
        cursor: pointer;
        display: inline-flex;
    }

    .innerlabe {
        font-weight: bold;
        color: white;
        font-size: 22px;
        margin: auto;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .container {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 15px;
    }

    .global-container {
        padding-right: 15px;
        padding-left: 15px;
        max-width: 1170px;
        margin: auto;
    }

    #overlayHomeLoading {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #eee;
        background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
        z-index: 1111;
    }

    .jv-pre-loader {
        display: block;
    }

    .async-hide {
        opacity: 0 !important
    }