.parentbox {
    margin-bottom: 20px;
}

.profile {
    width: 90%;
    padding-top: 10px;
    cursor: pointer;
    background: #646ea6;
    border-radius: 5px 5px 0 0;
    text-align: center;
    margin: 0 auto;
}

.big-profile-picture img {
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
}

.big-profile-picture {
    margin: 0 auto;
    border: 5px solid #464d79;
    width: 150px;
    height: 150px;
}

.profile-picture {
    border-radius: 100%;
    overflow: hidden;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.clear {
    clear: both;
}

.user-name {
    margin: 20px 0 0 0;
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

h1 {
    font-size: 12px;
}

.profile-description {
    width: 210px;
    margin: 0 auto;
    text-align: center;
}

.scnd-font-color {
    color: #bdb9b9;
}

.profile-options {
    padding-top: 23px;
}

.horizontal-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.profile-options li {
    border-left: 1px solid #1f253d;
    font-size: 12px;
}

.profile-options li .icon {
    font-size: 14px;
}

.profile-options li a {
    color: white;
}

.horizontal-list li {
    float: left;
    width: 33%;
    background: #646ea6;
}

.profile-options p {
    margin: 0;
}

.profile-options .comments {
    border-top: 4px solid #31b36b;
}

.profile-options a {
    display: block;
    line-height: 60px;
    text-align: center;
    -webkit-transition: background .3s;
    transition: background .3s;
}

.profile-options p {
    margin: 0;
}

.profile-options .icon {
    padding-left: 10px;
}

.icon {
    font-size: 15px;
}

.profile-options .views {
    border-top: 4px solid #11a8ab;
}

.profile-options .likes {
    border-top: 4px solid #e64c65;
}

.profile-options a:hover {
    text-decoration: none;
    background: #464d79;
}

.add-button .icon {
    float: right;
    line-height: 18px;
    width: 23px;
    font-size: 18px;
    text-align: center;
    margin: 0px 6px;
}

.instaverify {
    width: 24px;
    position: absolute;
    right: 40px;
}

.menu-box {
    height: 360px;
    float: right;
}

.menu-box-menu .icon {
    display: inline-block;
    font-size: 20px;
    width: 28px;
    margin-right: 20px;
    margin-left: 15px;
}

.menu-box-tab {
    color: white;
}

.menu-box-number {
    width: 36px;
    line-height: 22px;
    background: #bdb9b9;
    text-align: center;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 15px;
    transition: all .3s;
    float: left;
    color: #2f2f2f;
}

.menu-box-menu li {
    height: 60px;
    position: relative;
}

.menu-box-tab {
    line-height: 60px;
    display: block;
    border-bottom: 1px solid #1f253d;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.menu-box-tab:hover, .activeprofilemenu {
    background: #464d79;
    border-top: 1px solid #1f253d;
    text-decoration: none;
    color: #fff;
}

.menu-box-tab:focus {
    color: #fff;
}

.menu-box-tab:hover .icon {
    color: #fff;
}

ul {
    list-style-type: none;
}

.menu-box ul {
    padding-right: 0;
}

.userprofile {
    float: left;
    padding: 20px 25px 20px 4px !important;
    box-shadow: -9px -2px #646ea6;
    border-radius: 5px;
    min-height: 400px;
}

.block {
    margin-bottom: 25px;
    background: #646ea6;
    border-radius: 5px;
}

.global-container {
    font-size: 13px;
}

.navbar-left li {
    padding: 8px 8px 8px 0;
    text-align: center;
}

.isntagrambottom {
    margin-left: 10px;
}

h2 {
    font-size: 22px;
}

.emptyrow {
    height: 50px;
    padding: 15px;
    border: 2px dotted #337ab7;
    text-align: center;
    width: 98%;
}

.ajs-body, .ajs-header {
    direction: rtl;
}

.ajs-body, .ajs-buttons {
    font-size: 12px;
}

.alertify .ajs-footer .ajs-buttons .ajs-button {
   min-width: 80px;
}

.alertify .ajs-dialog {
    max-width: 330px;
}
.alertify .ajs-commands {
    left: 4px;
}

.alertify-notifier .ajs-message .ajs-close {
    top: 2px;
    left: 3px;
    right: inherit;
    background-color: inherit;
}
.alertify-notifier.ajs-left .ajs-message {
    left: 270px !important;
}

.badge-danger{
    background-color: #ec407a;
}

.paymentbox {
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    box-shadow: 2px 2px 2px #9e9e9e;
    float: left;
}

.paymentbox label{
    width: 100%;
    font-size: 13px;
}

.paymentbox label span{
    font-size: 11px;
}