<div class="table-responsive" *ngIf="showGrid && items.length > 0">
        <table class="table table-bordered table-hover customgrid">
                <thead>
                        <tr class="text-center">
                                <th style="width:40px">ردیف</th>
                                <ng-container *ngFor="let col of dictionary">
                                        <th (click)="sort(col.Name)">
                                                {{col.Display}}
                                        </th>

                                </ng-container>

                                <ng-container *ngIf="editable">
                                        <th style="width: 100px;text-align: center;">
                                                ویرایش
                                        </th>
                                </ng-container>
                                <ng-container *ngIf="removable">
                                        <th style="width: 100px;text-align: center;">
                                                حذف
                                        </th>
                                </ng-container>

                                <!-- <ng-container *ngFor="let task of customTasks">
                                        <th>
                                                {{task.TaskTitle}}
                                        </th>
                                </ng-container> -->

                                <ng-container *ngIf="customTasks && customTasks.length>0">
                                        <th>
                                                عملیات
                                        </th>
                                </ng-container>

                        </tr>
                </thead>
                <tbody>


                        <ng-container *ngFor="let item of items ; let i = index;">
                                <tr>
                                        <td class="text-center">
                                                {{ ((pagination.currentPage -1 ) * pagination.itemsPerPage) + i + 1 }}
                                        </td>

                                        <td *ngFor="let col of dictionary">
                                                {{item[col.Name]}}
                                        </td>

                                        <ng-container *ngIf="editable">
                                                <td class="text-center">
                                                        <button class="btn btn-sm btn-success" (click)="edit(item.Id)">
                                                                <i class="fa fa-edit"></i></button>
                                                </td>
                                        </ng-container>
                                        <ng-container *ngIf="removable">
                                                <td class="text-center">
                                                        <button class="btn btn-danger btn-sm"
                                                                (click)="remove(item.Id,confirmTemplate)">
                                                                <i class="fa fa-times-circle"></i></button>
                                                </td>
                                        </ng-container>

                                        <ng-container *ngFor="let task of customTasks">
                                                <td style="width:200px">
                                                        <button class="btn btn-info btn-sm"
                                                                (click)="doCustomTask(item,task.taskName)">
                                                                {{task.TaskTitle}}</button>
                                                </td>
                                        </ng-container>

                                </tr>
                        </ng-container>
                </tbody>
        </table>

</div>
<div *ngIf="items.length > 0">
        <!-- <ngb-pagination [collectionSize]="pagination.totalItems" [(page)]="pagination.currentPage"
                (pageChange)="pageChanged($event)"></ngb-pagination> -->
</div>

<div class="grid-empty-row" *ngIf="items.length == 0">
        موردی یافت نشد
</div>

<ng-template #confirmTemplate>
        <div class="modal-body text-center">
                <p>{{ deleteConfirmMessage }} </p>
                <button type="button" class="btn btn-info ml-4" (click)="confirm()">بلی</button>
                <button type="button" class="btn btn-primary" (click)="hideModal()">خیر</button>
        </div>
</ng-template>