<div class="col-xs-12 header-row">

  <div class="jVForEemployees-con">
    <div class="jVForEemployees">
      <h2 class="innerlabe">شما صاحب کسب و کار در اینستاگرام هستم؟</h2>
      <a class="btn center-block btn-jVForEemployees" onclick="onOpenLoginAndRegisterClicked()"
         target="_blank">اینیسیتو برای کسب و کار ها</a>
    </div>
  </div>
  <div class="jVForEemployers-con">
    <div class="jVForEemployers">
      <h2 class="innerlabe">شما صاحب صفحه محبوب در اینستاگرام هستید؟</h2>
      <a class="btn center-block btn-jVForEemployers" onclick="onOpenLoginAndRegisterClicked()"
         target="_blank">اینیسیتو برای اینفلوئنسر ها</a>
    </div>
  </div>
</div>

<div class="global-container">

    <div class="slider-row">
        <div class="text-center slider-header">
            <h3 class="lbl-jVIsForYou">
                 
            </h3>
        </div>
    </div>

    <div class="matchingSystem-part rightImage-part lazyLoadImg">
        <div class="pic-side">
            <img class="desk" src="../assets/Content/Images/Home/Employee/Selection@2x.png" alt="سیستم هوشمند اینفلوئنسر مارکتینگ" />
        </div>
        <div class="desc-side">
            <h3 class="desc-side-title">سیستم هوشمند اینفلوئنسر مارکتینگ</h3>
            <img class="mob" src="../assets/Content/Images/Home/Employee/Selection@2x.png" alt="سیستم هوشمند اینفلوئنسر مارکتینگ" />
            <p class="description">
              با استفاده از تکنولوژی های روز دنیا (هوش تجاری، علم داده، هوش مصنوعی) الگوریتم هایی طراحی شده که باعث میشود هر کسی با فعالیت های خود به فلوئنسر و چهره برجسته در اینستاگرام مبدل شده و رویای دیده شدن را  به دست بیاورد.
            </p>
        </div>
    </div>

    <div class="cvBuilder-part leftImage-part lazyLoadImg">
        <div class="desc-side">
            <h3 class="desc-side-title">با خیال راحت اعتماد کنید</h3>
            <img class="mob" src="../assets/Content/Images/Home/Employee/MultiLanguage.png"
                alt="تصویر رزومه ساز دو زبانه جاب ویژن" />
            <p class="description">
              با اعتماد به ما، شما با خیال راحت از تبلیغ کسب و کار خود در جامعه هدف مشخص (دسته بندی های مختلف) استفاده کنید و مخاطبان درستی را انتخاب کنید، تا جلوی هزینه های اضافی خود را گرفته و در کمترین زمان به هدفتان برسید.
            </p>
        </div>
        <div class="pic-side">
            <img class="desk" src="../assets/Content/Images/Home/Employee/MultiLanguage.png"
                alt="تصویر رزومه ساز دو زبانه جاب ویژن" />
        </div>
    </div>

    <div class="selfAssessment-part rightImage-part lazyLoadImg">
        <div class="pic-side">
            <img class="desk" src="../assets/Content/Images/Home/Employee/Assessment@2x.png"
                alt="تصویر لوگوی آزمون و ارزیابی" />
        </div>
        <div class="desc-side">
            <h3 class="desc-side-title">مقایسه و تحلیل دقیق اینفلوئنسرها</h3>
            <img class="mob" src="../assets/Content/Images/Home/Employee/Assessment@2x.png"
                alt="تصویر لوگوی آزمون و ارزیابی" />
            <p class="description">
              اینیسیتو به شما این امکال رو میده تا به راهتی اینفلوئنسر هارو باهم مقایسه کنید و از از عملکردشون مطلع باشید تا هر کدام که  بازدهی بهتری دارند رو انتخاب و همکاریتون رو آغاز کنید
            </p>
        </div>
    </div>

    <div class="jVIsForYou">

      <h3 class="lbl-jVIsForYou">حساب های اینستاگرامی فعال</h3>

      <app-influencer-list [InfluencerList]="influencerList"></app-influencer-list>
    </div>

    <div class="jVIsForYou">
      <h3 class="lbl-jVIsForYou">اینیسیتو برای شماست</h3>
      <p class="p-jVIsForYou">
        اینیسیتو، با در نظر گرفتن توانمندی‌ها، ویژگی‌های اصلی کسب و کار و شناخت حوزه فعالیت، به ترند شدن شما کمک می‌کند.
      </p>
        <a onclick="onOpenLoginAndRegisterClicked(this)" inital-page="0"
            class="btn center-block lnk-jVIsForYou signin-btn" return-url="" href="#">بزن بریم</a>
    </div>

</div>
