<div class="row paymentbox col-md-12" *ngIf="paymentHistory.length == 0">موردی یافت نشد</div>

<div class="row paymentbox col-md-12 col-xs-12" *ngFor="let payment of paymentHistory">
    <div class="col-md-4 col-xs-6">
        <label>
            وضعیت:
            <span>{{payment.PaymentStatus}}</span>
        </label>
    </div>

    <div class="col-md-4 col-xs-6">
        <label>
            مقدار:
            <span>{{payment.Amount |number}} تومان</span>
        </label>
    </div>

    <div class="col-md-4 col-xs-6">
        <label>
            شماره کارت:
            <span>{{payment.CartNo}}</span>
        </label>
    </div>

    <div class="col-md-4 col-xs-6">
        <label>
            تاریخ پرداخت:
            <span>{{payment.RTime}}</span>
        </label>
    </div>
</div>