<table class="table table-striped table-hover">
  <tr>
    <th>ردیف</th>
    <th>کد درخواست</th>
    <th>وضعیت</th>
    <th>از کاربر</th>
    <th>به کاربر</th>
    <th>پرداخت کل</th>
    <th>کمیسیون</th>
    <th>پرداختی ما</th>
    <th>شماره پیگیری</th>
    <th>زمان پرداخت</th>
    <th>نهایی شده</th>
  </tr>

  <tr *ngFor="let payment of payments">
    <td>{{payment.Rownumber}}</td>
    <td>{{payment.RequestCode}}</td>
    <td>{{payment.PaymentType}}</td>
    <td>{{payment.OriginInstagramID}}</td>
    <td>{{payment.DestinationInstagramID}}</td>
    <td>{{payment.Amount | number}}</td>
    <td>{{payment.Commission | number}}</td>
    <td>{{payment.FinalAmount | number}}</td>
    <td>{{payment.TerminalCode}}</td>
    <td>{{payment.PaymentTime}}</td>
    <td>{{payment.IsDone ? 'بلی' : 'خیر'}}</td>
  </tr>


</table>