.requestbox {
    /* border: 1px solid gray; */
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px #9e9e9e;
    float: left;
}

.requestbox label{
    width: 100%;
    font-size: 13px;
}

.requestbox label span{
    font-size: 11px;
}
