<div class="row requestbox col-md-12 col-xs-12" *ngFor="let request of requests">
    <div class="col-md-5 col-xs-12">
        <label>
            کد درخواست:
            <span>{{request.RequestCode}}</span>
            <span *ngIf="request?.UnreadMessageCount > 0" class="badge badge-danger" style="margin-right: 10px;">
                {{request?.UnreadMessageCount}} پیام نخوانده
            </span>
        </label>
        <label>
            اینستاگرام درخواست کننده:
            <span>{{request.OriginInstagramID}}</span>
        </label>
        <label>
            درخواست به اینستاگرام:
            <span>{{request.DestinationInstagramID}}</span>
        </label>

        <label>
            نام کاربر:
            <span *ngIf="userId == request.DestinationUserID">{{request.FullNameOriginUser}}</span>
            <span *ngIf="userId != request.DestinationUserID">{{request.FullNameDestinationUser}}</span>
        </label>
    </div>

    <div class="col-md-4 col-xs-12">
        <label>
            <span [class]="request.IsPost ? 'fa fa-check' : 'fa fa-ban'"></span>
            پست
        </label>
        <label>
            <span [class]="request.IsStory ? 'fa fa-check' : 'fa fa-ban'"></span>
            استوری
        </label>
        <label>
            <span [class]="request.PresenceOnSite ? 'fa fa-check' : 'fa fa-ban'"></span>
            حضور فیریکی
        </label>
        <label>
            <span [class]="request.IsContent ? 'fa fa-check' : 'fa fa-ban'"></span>
            دارای محتوا
        </label>
    </div>

    <div class="col-md-3 col-xs-12 pull-left text-left">
        <label>
            وضعیت:
            <span>{{request.PersianTitle}}</span>
        </label>
        <label>
            تاریخ درخواست:
            <span>{{request.PersianRTime}}</span>
        </label>
        <label>
            <a [routerLink]="['./', request.RequestCode]">
                مشاهده جزئیات
            </a>
        </label>
    </div>
</div>